<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- https://mybatis.org/mybatis-3/configuration.html#settings -->
	<!-- 全局参数设置 -->
	<settings>
		<setting name="cacheEnabled" value="true" />
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="SLF4J"/>
        <setting name="logPrefix" value="MYBATIS_MAPPER."/>
	</settings>
	
	<!-- 实体类别名扫描 -->
	<typeAliases>
		<package name="com.ty.api.model"/>
	</typeAliases>
</configuration>