/*防抖动处理*/
[v-cloak] {
  display: none;
}

html {
  overflow: auto;
}

#app.theme--light, body {
  background-color: #F0F2F5;
}

.pagebar > .v-pagination {
  justify-content: flex-end;
}

.theme--light.bg-dark-blue {
  background-color: #001529 !important;
}

.theme--dark.bg-dark-blue, body.theme--dark {
  background-color: #011222 !important;
}

.bg-light-blue, .bg-light-blue:before {
  background-color: #1890FF !important;
  border-color: #1890FF !important;
}

.bg-light-blue .v-list-item__title {
  z-index: 1;
}

.border-blue {
  border: 1px solid #1890FF !important;
}

.bg-light-orange {
  background-color: #FC7D02 !important;
}

.border-orange {
  border: 1px solid #FC7D02 !important;
}

.v-application .bg-sky-blue-font-weight {
  background-color: #E4EFFA;
  font-weight: 700!important;
}

.v-application .letter-spacing-25 {
  letter-spacing: 0.25rem!important;
}

.theme--light.v-application .border-top {
  border-top: 1px solid #E0E0E0!important
}

.theme--dark.v-application .border-top {
  border-top: 1px solid hsla(0, 0%, 100%, .12) !important;
}

.fill-width {
  width: 100%;
}

.list-type-none {
  list-style-type: none;
}

/*更改Vuetify数据表格样式*/
.theme--light.v-data-table th[role="columnheader"] {
  color: #000 !important;
  caret-color: #000 !important;
  background-color: #FAFAFA !important;
}

.theme--dark.v-data-table th[role="columnheader"] {
  color: #fff !important;
  caret-color: #fff !important;
  background-color: #011222 !important;
}

.theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: #e6f7ff;
}

.theme--light.v-data-table>.v-data-table__wrapper>table .theme--light.v-icon {
  color: #D9D9D9;
}

.theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>td:last-child, .theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>td:not(.v-data-table__mobile-row), .theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>th:last-child, .theme--light.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>th:not(.v-data-table__mobile-row), .theme--light.v-data-table>.v-data-table__wrapper>table>thead>tr:last-child>th {
  border-bottom: thin solid #E8E8E8;
}

.v-text-field--outlined fieldset {
  border-color: #D9D9D9;
}

.v-data-table a {
  text-decoration: none;
}

.sm-label .v-label {
  font-size: 14px;
}

textarea {
  resize: none;
}

.v-data-table--mobile .v-data-table__wrapper {
  height: auto !important;
}

@media screen and (max-height: 500px) {
  .v-data-table__wrapper {
    height: auto !important;
  }
}

/*自定义树表格样式*/
.tree-datatable {
  font-size: 0.75rem;
}

.theme--light.tree-datatable .v-treeview-node--disabled {
  background-color: #FAFAFA;
  font-weight: bold;
}

.theme--light.tree-datatable.v-treeview .v-treeview-node--disabled>.v-treeview-node__root>.v-treeview-node__content {
  color: #000000 !important;
}

.theme--light.tree-datatable.v-treeview .v-treeview-node__root {
  border-bottom: thin solid #E8E8E8;
}

.theme--dark.tree-datatable .v-treeview-node--disabled {
  background-color: #011222;
}

.theme--dark.tree-datatable.v-treeview .v-treeview-node--disabled>.v-treeview-node__root>.v-treeview-node__content {
  color: #fff !important;
}

.theme--dark.tree-datatable.v-treeview .v-treeview-node__root {
  border-bottom: thin solid rgba(255, 255, 255, 0.12);
}

/*树组件叶子节点横向平铺样式*/
.tree-child-horizontal .v-treeview-node__children {
  display: flex;
  flex-wrap: wrap;
}

/*自定义下拉树控件的样式*/
.tree-select {
  cursor: pointer;
  font-size: 0.78rem;
}

.tree-select.v-treeview--dense .v-treeview-node__root {
  min-height: 35px;
}

/* 鼠标样式 */
/*禁用*/
.cursor-not-allowed input[type=text] {
  cursor: not-allowed;
}

/* v-card组件最大化样式 */
.v-application .v-card--max {
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: fixed;
  top:0;
  left:0;
  width:100% !important;
  height:100% !important;
  margin: 0 !important;
  z-index:9;
}

.theme--dark.v-card--max, .theme--dark.v-card--max .theme--dark.v-sheet {
  background-color: #1E1E1E !important;
}

/* v-card-zoom字号样式 */
.v-application .v-card--max .zoom-font {
  line-height: 100% !important;
}

.v-application .v-card--max .zoom-font-5x {
  font-size: 500% !important;
}

.v-application .v-card--max .zoom-font-3x {
  font-size: 300% !important;
}

.v-application .v-card--max .zoom-font-2x {
  font-size: 200% !important;
}

.v-application .v-card--max .zoom-font-1p5x {
  font-size: 150% !important;
}

.v-application .v-card--max .zoom-font-1p25x {
  font-size: 125% !important;
}

/* v-card 作为版块时的标题样式 */
.card-title {
  border-left: 8px solid #1890FF;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

/* Button按钮组样式 */
.btn-group>.v-btn.v-btn {
  color: #1890FF !important;
  caret-color: #1890FF !important;
  opacity: 1 !important;
  border: 1px solid #1890FF !important;
  height: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.btn-group>.v-btn.v-btn.btn-group-item-active {
  color: #fff !important;
  caret-color: #fff !important;
  background-color: #1890FF !important;
}

.btn-group>.v-btn.v-btn.btn-group-item-active:before {
  opacity: 0 !important;
}
