/*防抖动处理*/
[v-cloak] {
  display: none;
}

html {
  overflow: auto;
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}

.v-theme--dark input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
}

#app>.v-theme--light, .v-theme--light.bg-light, body:has(.v-application.v-theme--light) {
  background-color: #F0F2F5;
}

.v-theme--dark.bg-nav-light {
  background-color: #001529 !important;
  background-image: linear-gradient(141deg,#25415a 11%,#0b4174 75%, #313a3e);
}

.v-theme--dark.bg-dark-blue, body:has(.v-application.v-theme--dark) {
  background-color: #010919 !important;
}

.v-theme--dark.dark-grad {
  background-image: linear-gradient(141deg, #010f1d 11%, #16293b 75%, #313a3e)
}

.dark-blue {
  background-color: #011C36 !important;
  border-color: #011C36 !important;
}

.bg-light-blue, .bg-light-blue:before {
  background-color: #1890FF !important;
  border-color: #1890FF !important;
}

.bg-light-blue .v-list-item__title {
  z-index: 1;
}

.v-application .border-blue {
  border: 1px solid #1890FF !important;
}

.v-application .border-orange {
  border: 1px solid #FF9800 !important;
}

.v-application .bg-sky-blue-font-weight {
  background-color: #E4EFFA;
  font-weight: 700!important;
}

.v-application .letter-spacing-25 {
  letter-spacing: 0.25rem!important;
}

.v-application .border-thin {
  border: 1px solid;
}

.v-application .bg-unset {
  background-color: unset !important;
}

.v-theme--light.border-top {
  border-top: 1px solid #E0E0E0!important
}

.v-theme--dark.border-top {
  border-top: 1px solid hsla(0, 0%, 100%, .12) !important;
}

.list-type-none {
  list-style-type: none;
}

header.v-app-bar {
  opacity: 0.9;
}

form.v-form > .v-card > .v-card__text {
  overflow: auto;
  max-height: calc(70vh - 60px);
}

@media screen and (max-height: 400px) {
  form.v-form > .v-card > .v-card__text {
    overflow: unset;
    max-height: unset;
  }
}

/*更改Vuetify数据表格样式*/
.v-theme--light.v-data-table th.v-data-table__th {
  color: #000 !important;
  caret-color: #000 !important;
  background-color: #FAFAFA !important;
}

.v-theme--dark.v-data-table th.v-data-table__th {
  color: #fff !important;
  caret-color: #fff !important;
  background-color: #010919 !important;
}

.v-theme--light.v-data-table.v-table--hover>.v-table__wrapper>table>tbody>tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper), .v-theme--light.tree-datatable > .v-list-group .v-list-item:hover, .v-theme--light.tree-datatable > .v-list-item[aria-selected]:hover {
  background: #E8EAF6;
}

.v-theme--light.v-data-table>.v-table__wrapper>table>tbody>tr:not(:last-child)>td:last-child, .v-theme--light.v-data-table>.v-table__wrapper>table>tbody>tr:not(:last-child)>td:not(.v-data-table__mobile-row), .v-theme--light.v-data-table>.v-table__wrapper>table>tbody>tr:not(:last-child)>th:last-child, .v-theme--light.v-data-table>.v-table__wrapper>table>tbody>tr:not(:last-child)>th:not(.v-data-table__mobile-row), .v-theme--light.v-data-table>.v-table__wrapper>table>thead>tr:last-child>th {
  border-bottom: thin solid #E8E8E8;
}

.v-text-field--outlined fieldset {
  border-color: #D9D9D9;
}

.v-data-table a {
  text-decoration: none;
  cursor: pointer;
  color: #2196f3;
}

.sm-label .v-label {
  font-size: 14px;
}

textarea {
  resize: none;
}

.v-data-table--mobile .v-table__wrapper {
  height: auto !important;
}

@media screen and (max-height: 500px) {
  .v-table__wrapper {
    height: auto !important;
  }
}

/*自定义树表格样式*/
.tree-datatable a {
  color: #127ae2;
}

.tree-datatable > .v-list-item:not([aria-selected]) .v-list-item-title {
  font-size: 0.81rem;
}

.v-theme--light.tree-datatable > .v-list-item:first-child .v-list-item-title:not([aria-selected]) {
  font-weight: bold;
}

.v-theme--light.tree-datatable > .v-treeview-item {
  background-color: #FAFAFA;
}

.v-theme--light.tree-datatable.v-treeview .v-list-item--one-line {
  border-bottom: thin solid #E8E8E8;
}

.v-theme--dark.tree-datatable > .v-treeview-item:not([aria-selected]) {
  background-color: #010919;
}

.v-theme--dark.tree-datatable.v-treeview .v-list-item--one-line {
  border-bottom: thin solid rgba(255, 255, 255, 0.12);
}

/*树组件叶子节点横向平铺样式*/
.tree-child-horizontal .v-list-group__items {
  display: flex;
  flex-wrap: wrap;
}

/** 树组件背景透明 **/
.treeview-bg-transparent .v-list-item__overlay {
  background: transparent;
}

/* v-card组件最大化样式 */
.v-application .v-card--max {
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: fixed;
  top:0;
  left:0;
  width:100% !important;
  height:100% !important;
  margin: 0 !important;
  z-index:2000;
}

/* v-card-zoom数据表格样式 */
.v-application .v-card--max > .v-data-table > .v-table__wrapper {
  height: calc(100vh - 58px) !important;
}

.v-application .v-card--max > .v-data-table:not(.pagination) > .v-table__wrapper {
  height: 100vh !important;
}

.v-application .v-card--max > .v-data-table > .v-row.assist {
  display: none;
}

/* v-card-zoom字号样式 */
.v-application .v-card--max .zoom-font {
  line-height: 100% !important;
}

.v-application .v-card--max .zoom-font-5x {
  font-size: 500% !important;
}

.v-application .v-card--max .zoom-font-4x {
  font-size: 400% !important;
}

.v-application .v-card--max .zoom-font-3x {
  font-size: 300% !important;
}

.v-application .v-card--max .zoom-font-2x {
  font-size: 200% !important;
}

.v-application .v-card--max .zoom-font-1p5x {
  font-size: 150% !important;
}

.v-application .v-card--max .zoom-font-1p25x {
  font-size: 125% !important;
}

/* v-card 作为版块时的标题样式 */
.card-title {
  border-left: 8px solid #1890FF;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

/* 时间控件 */
.v-theme--dark.v-date-picker-select {
  background: #011222 !important;
}

/* Button按钮组样式 */
.btn-group>.v-btn {
  color: #1890FF !important;
  caret-color: #1890FF !important;
  opacity: 1 !important;
  border: 1px solid #1890FF !important;
  margin-top: 0;
  margin-bottom: 0;
}

.btn-group:not(.btn-group-join)>.v-btn:not(:last-child) {
  margin-right: 8px;
}

.btn-group>.v-btn.btn-group-item-active {
  color: #fff !important;
  caret-color: #fff !important;
  background-color: #1890FF !important;
}

.btn-group>.v-btn.btn-group-item-active:before {
  opacity: 0 !important;
}

.btn-group.btn-group-join>.v-btn:not(:last-child) {
  border-right-width: 0 !important;
}

/** v-list 一行两列的样式优化 **/
.grid-list .v-list-item__prepend {
  height: 100%;
  align-items: baseline;
}

/** CSS3动画：边缘发光 **/
@keyframes animated-border-red {
  0% {  box-shadow: 0 0 0 0 rgba(233,30,99,0.8);   }
  100% {  box-shadow: 0 0 0 20px rgba(233,30,99,0);   }
}
.flash-border-red {
  animation: animated-border-red 1.5s infinite;
}

.bg-weixin {
  background: url("../images/logo/icon32_wx_logo.png") no-repeat;
  background-position: 0% 50%;
}

/** vConfirm 样式 **/
@media screen and (min-width: 600px) {
  .vconfirm {
    position: absolute;
    top: 0;
  }
}
