<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
  <title>TyFast Platform</title>
  <!--/* 共用JS与CSS */-->
  <th:block th:replace="assets/include :: scriptcss('')"/>
</head>
<body>
  <v-app id="app" v-cloak>
    <!-- 顶部功能区 -->
    <v-app-bar app flat :color="$vuetify.theme.dark? null : 'white'">
      <th:block th:replace="assets/include :: header"/>
    </v-app-bar>

    <!-- 左侧区域::导航菜单 -->
    <th:block th:replace="assets/include :: navMenu"/>

    <!-- 主体部分 -->
    <v-main>
      <!-- 主体容器 -->
      <v-container fluid>
        <v-card-zoom flat rounded="0" class="pa-6" style="height: calc(100vh - 64px - 24px);" @zoom="zoom">
          <div class="font-weight-bold zoom-font zoom-font-3x" style="position: fixed; bottom: 50px; right: 50px;">
            TyFast · 快速开发平台
          </div>
        </v-card-zoom>
      </v-container>
    </v-main>
  </v-app>

  <!-- 导入Vuetify扩展组件 -->
  <th:block th:replace="assets/vuetify :: v-card-zoom"/>

  <!-- 业务js -->
  <script type="text/javascript" th:src="@{/js/index.js}"></script>
</body>
</html>