<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.logic.system.dao.SysUserOrganizationDao">

    <!-- 关系映射 -->
    <resultMap id="SysUserOrganizationMap" type="SysUserOrganization">
        <result property="userId" column="user_id" />
        <result property="orgId" column="org_id" />
        <result property="isDefault" column="is_default" />
    </resultMap>

    <!-- 查询条件 -->
    <sql id="condition_sysUserOrganization">
        <where>
            <if test="userId != null and userId != ''">
                and t.user_id=#{userId}
            </if>
            <if test="orgId != null and orgId != ''">
                and t.org_id=#{orgId}
            </if>
            <if test="isDefault != null">
                and t.is_default=#{isDefault}
            </if>
        </where>
    </sql>

    <!-- 查询记录数 -->
    <select id="findSysUserOrganizationCount" parameterType="SysUserOrganization" resultType="java.lang.Integer">
        SELECT count(0) FROM t_sys_user_organization t
        <include refid="condition_sysUserOrganization" />
    </select>

    <!-- 查询结果集 -->
    <select id="findSysUserOrganization" parameterType="SysUserOrganization" resultMap="SysUserOrganizationMap">
        SELECT
            t.user_id,
            t.org_id,
            t.is_default
        FROM
            t_sys_user_organization t
        <include refid="condition_sysUserOrganization" />
    </select>

    <!-- 保存 -->
    <insert id="saveSysUserOrganization" parameterType="SysUserOrganization">
        INSERT INTO t_sys_user_organization
        (
        <trim suffix="" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="orgId != null">org_id,</if>
            <if test="isDefault != null">is_default,</if>
        </trim>
        )
        VALUES
        (
        <trim suffix="" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="orgId != null">#{orgId},</if>
            <if test="isDefault != null">#{isDefault},</if>
        </trim>
        )
    </insert>

    <!-- 批量保存 -->
    <insert id="saveMultiSysUserOrganization" parameterType="java.util.List">
        INSERT INTO t_sys_user_organization(user_id, org_id, is_default)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.orgId}, #{item.isDefault})
        </foreach>
    </insert>

    <!-- 删除 -->
    <delete id="delSysUserOrganization" parameterType="SysUserOrganization">
        DELETE FROM t_sys_user_organization
        <where>
            user_id = #{userId}
            <if test="isDefault != null">
                and is_default = #{isDefault}
            </if>
        </where>
    </delete>
</mapper>
